* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

#container {
  max-width: 1000px;
  display: block;
  margin:  auto;
  padding-bottom: 40px;
  height: 1500px;
}

.landListeOutput {
  float: left;
  max-width: 50%;
  display: block;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0px;
  padding: 10px;
}

.landListeOutput img {
  margin-top: 10px;
  margin-bottom: 10px;
}
.landListeOutput p {
  margin: 0px;
}

#footer p {
  height: 50px;
  margin-top: 50px;
}

@media (max-width: 1040px) {
  .landListeOutput {
    max-width: 100%;
  }
}
